{% load staticfiles %}

<div class="container blogsection ">

  <div class="row  ">
    <div class="col-md-12  ">
      <div class="center-heading">
        <h2>Latest Blog</h2><span class="center-line"></span>
        <p class="lead"></p>
      </div>
    </div>
  </div>


  <div class="row latest-blog-section">

    <div class="col-sm-4 margin30 col-md-4 col-sm-6">
      <div class="item-img-wrap">
        <img width="768" height="512" src="{% static 'site/img/bl3.jpg' %}" class="img-responsive wp-post-image" alt="blog-image-2">
        <div class="item-img-overlay"><span></span></div>
      </div>

      <div class="news-desc"><span>Beauty, Islam, Nature</span>
        <h4>Islamic blog</h4><span>By <a href="">Admin</a>
          on Novenber 13, 2018</span> <span><a href="">Read more...</a></span>
      </div>
    </div>

    <div class="col-sm-4 margin30 col-md-4 col-sm-6">
      <div class="item-img-wrap">
        <img width="768" height="512" src="{% static 'site/img/bl2.jpg' %}" class="img-responsive wp-post-image" alt="blog-image-2">
        <div class="item-img-overlay"><span></span></div>
      </div>

      <div class="news-desc"><span>Beauty, Islam, Nature</span>
        <h4>Islamic blog</h4><span>By <a href="">Admin</a>
          on Novenber 13, 2018</span> <span><a href="">Read more...</a></span>
      </div>
    </div>

    <div class="col-sm-4 margin30 col-md-4 col-sm-6">
      <div class="item-img-wrap">
        <img width="768" height="512" src="{% static 'site/img/bl4.jpg' %}" class="img-responsive wp-post-image" alt="blog-image-2">
        <div class="item-img-overlay"><span></span></div>
      </div>

      <div class="news-desc"><span>Beauty, Islam, Nature</span>
        <h4>Islamic blog</h4><span>By <a href="">Admin</a>
          on Novenber 13, 2018</span> <span><a href="">Read more...</a></span>
      </div>
    </div>



  </div>
  <!--latest-blog-section-->
</div>