<div class="col-md-3 col-sm-3 col-lg-3 col-sm-pull-9 sidebar-left">

    <div id="search-book" class="">
      <form>
        <div class="form-group">
          <input type="" class="form-control" placeholder="Search Books…">
        </div>
        <button type="submit" class="btn btn-info">Submit</button>
      </form>
    </div><!-- search-book -->

    <div class="books-categories">
      <h3>Books Categories</h3>

      <ul class="">
        <li class=""><a> কোরআন, তরজমা ও তাফসির </a>
          <ul class="children">
            <li class=""><a>তাফসির</a></li>
            <li class=""><a>কোরআন</a></li>
          </ul>
        </li>

        <li class=""><a>হাদিস ও সুন্নাত</a>
          <ul class="children">
            <li class=""><a>সুন্নাত</a></li>
            <li class=""><a>হাদিস</a></li>
          </ul>
        </li>

        <li class=""><a>পরকাল ও জান্নাত-জাহান্নাম</a></li>
        <li class=""><a>ইসলামি আইন</a></li>

      </ul>
      <!--product-categories-->
    </div>
    <!--books_categories-->

  </div>
  <!--sidebar-left-->

