{% load staticfiles %}

<div id="top-slider">

  <section class="slider intro-slider">

    <div class="flexslider">



      <ul class="slides">
        <li>
          <div class="row">
            <div class="col full">
              <div class="slider-text">
                <div class="col-md-6 col-md-offset-3">
                <h2>Sins destroy the heart the same way <span>poison destroy</span> the body</h2>
              </div>
                
              </div>
            </div>
          </div>
        </li>


        <li>
          <div class="row">
            <div class="col full">
              <div class="slider-text">
                <h2>There are no sad endings those<span>who trust Allah</span> </h2>
              </div>
            </div>
          </div>
        </li>



      </ul>

    </div>
    <!--flexslider-->
  </section>

</div>
<!--top-slider-->